#mainBody {
  background-color: #d9d9d9;
}
.videoTypeTitle {
  font-weight: bold;
  padding-top: 10px;
}
.videoTypeTitle:hover {
  text-decoration: none;
}
.single-video-container{
  color:#666666;
  background-color: #f2f2f2;
  width:98%;
  height:100%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}
.single-video-container:hover{
  background-color: #cccccc;
}
.container-main-section {
  text-align: center;
  margin: 20px;
  margin-left: 0px;
  display:flex;
  float: left;
  width: 100%;
}
.container-main-section > div, .thumbnail-wrapper {
  display: inline-block;
  width: 33%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.live-thumbnail {
  width:80%;

}

.thumbnail {
  height:auto;
  width:80%;
  margin: 0 10%;
  display: block;
  float: left;
}
.single-video-summary {
  position: relative;
  margin: 15px 30px 10px 30px;
  font-size: 16px;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 20px;
  text-decoration: none !important
}

.live-single-video-summary {
  position: relative;
  margin: 15px 30px 10px 30px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.single-video-title {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}

.single-video-time {
  margin-top: 5px;
  font-size: 16px;
}

#searchTabButton {
  color:#666666;
  font-size: 125%;  
  width: 45%;
  margin-right: 5%;
  background: transparent;
  border:0;
  border-bottom: 4px solid #666666;
  outline: none;
}

#liveTabButton {
  color:#666666;
  font-size: 125%;  
  float: right;
  width: 45%;
  margin-left: 5%;
  background: transparent;
  border:0;
  border-bottom: 2px solid #666666;
  outline: none;

}
#upcomingTitle {
  color:#666666;
  font-size: 125%;  
  margin-left: 20px;
  margin-top: 20px;
}
hr {
  
  border: 0;
  width: 40%;
  background-color: #660000;
  height: 2px;

}

a, u {
    text-decoration: none;
}

#searchBox {
  width: 100%;
  margin-left: 10px;
  float: left;
  outline: none;
}

#searchButton {
  float: left;
  padding: 0px;
  width: 75px;
  margin-right: 10px;
  margin-left: 5px;
  outline: none;
}

#searchDiv {
  display:flex;
  margin-top: 15px;
}

#searchForm {
  text-align: center;
  margin-top: 20px;
  display:flex;
  float: left;
  width: 100%;
  margin-left: 20px;
}
.advancedSearchParams {
  margin-top: 0px;
  margin-left: 15px;
}

.thumbnail-wrapper {
  margin-top: 0px;
}

.branch {
  margin-top: 0px;
}

.videoTypeTitle {
  text-transform:capitalize;
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 0px;
}

#liveTab {
  display: none;
}

.formOptions {
  margin-right: 40px;
}
#branch {
  margin-right: 0px;
}
.content-wrapper {
  margin-top: 70px;
}
#settings, #settingsForLive{
  float: right;
  position: fixed;
  bottom: 3px;
  right: 3px;
}
#loading, #searchLoading{
  font-size: 14px;
  color: #666666;
  margin-left: 15px;
}

